@import url(http://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans:400,300|Roboto+Condensed:700|Fjalla+One);

body, h1, h2, h3, h4, h5, h6 {
  font-family: courier;
  font-color: #3D352A;
}

h2 {
  font-family: "Fjalla One";
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hey {
   font-weight: 500;
   text-shadow: .5px .5px black;
   color: black;
   font-size: 275%;
}



// h2 {
//   font-color: #4cb84f;
// }

// h3 {
//   font-color: #blue;
// }


// .btn-primary {
//   background-color: #1ab65e;
// }

// .btn-primary:hover {
//   background-color: #1ab65e;
// }

a {
color: #ffffff;
text-decoration: none;
font-weight: bold;
}

ul
{
    list-style-type: none;
}

.navbar {
  background-color: black;
  margin-bottom: 0;
}



.jumbotron {  
  height: 50vh;
  background-image: url("../media/images/CityHackerHeaderImage2.jpg");
  background-size: cover;
  background-position: center bottom;
}


#headerContent {
  float: left;
  margin: 20px 10%;
  width: 80%;
  padding: 10px;
  background-color: rgba(255,255,255,.65);
}

.header-text {
  vertical-align: middle;
  float: left;
  color: white;
}

.headerImage{
width: 100%;
height: 75%
}

.cityHackerLogo {
float: left;
position: static;
margin-left: 15px;
width: 60px;
height: 60px;
}

#doMore {
  text-align: center;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

#getStarted  {
  position: relative;
margin-left: 50%;
margin-right: 50%;
}
