@import url(http://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans:400,300|Roboto+Condensed:700|Fjalla+One);

body, h1, h2, h3, h4, h5, h6 {
  font-family: courier;
  font-color: #3D352A;
}

h2 {
  font-family: "Fjalla One";
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hey {
   font-weight: 500;
   text-shadow: .5px .5px black;
   color: black;
   font-size: 275%;
}
// h2 {
//   font-color: #4cb84f;
// }

// h3 {
//   font-color: #blue;
// }


// .btn-primary {
//   background-color: #1ab65e;
// }

// .btn-primary:hover {
//   background-color: #1ab65e;
// }

a {
color: #ffffff;
text-decoration: none;
font-weight: bold;
}

ul
{
    list-style-type: none;
}

.navbar {
  background-color: black;
}

.header-and-logo {
float: left;
font-weight: 568;
}

.headerImage{
width: 950px;
height: 600px;
}

.cityHackerLogo {
float: left;
display: block;
width: 60px;
height: 60px;
// padding: 1em; 1 em 1 em;
}
