<!-- Page Content -->
<div class="container">

<!--   <div class="row">
    <div class="col-sm-10">
      <h2 class="hey">Hey, you</h2>
        You like to do things. Maybe you’re a biker. Or a rock climber. Or maybe you’re a gamer. Want to meet more people and do your thing? That’s where City Hacker comes in! Search for people doing your favorite activities, send them a message, and go have fun!
    </div col 10>
    <div class="getStarted col-sm-2">
    <br>
    <br>
    <br>
    <br>
      <a class="btn btn-default btn-lg" href="/signup">Get Started &raquo;</a>
    </div getStarted>
  </div row> 

  <hr> -->

    <div class="row col-sm-12">
      <h2 class="hey">About Us</h2>
      <!-- edit this bottom section a little bit more. Great start, though.  -->
        City Hacker is a web app that grew out of Stephen Jay Young's <a href="www.hackanycity.com" class="link">blog</a>. Stephen traversed the U.S. looking for the perfect city to live in, and eventually realized that the best way to get to know a place and its people is through shared interests. Meeting people who engaged in his interests proved to be challenging and time consuming, and he was left wishing that there was some sort of service that offered this sort of thing. Thus, the idea for City Hacker was born. When Stephen started the JavaScript Immersion course at Portland Code School in the Fall of 2014, he met <a href="https://www.linkedin.com/pub/kali-kiger/76/141/1b5" class="link">Kali Kiger</a>, who had recently relocated to Portland, and <a href="https://www.linkedin.com/in/amoulding" class="link">Andrea Moulding</a>, who had been there for about two years. All three agreed that, despite their very different interests, they could use an app that offerred this sort of service, and they decided to build one for their capstone project. Thus, City Hacker was born - the app that enables you to connect with people in any city who do that thing that you like to do.
  </div about text>


</div container>