<!-- Page Content -->
<div class="container">

    <div class="row col-sm-12">
      <h2 class="hey">About Us</h2>
      <!-- edit this bottom section a little bit more. Great start, though.  -->

        City Hacker is a web app that grew out of <a href="https://www.linkedin.com/pub/stephen-young/33/326/488" class="aboutLink">Stephen Jay Young's</a> <a href="http://www.hackanycity.com" class="blogLink">blog</a>. Stephen traversed the U.S. looking for the perfect city to live in, and eventually realized that the best way to get to know a place and its people is through shared interests. Meeting people who engaged in his interests proved to be challenging and time consuming, and he was left wishing that there was some sort of service that offered this sort of thing. Thus, the idea for City Hacker was born. When Stephen started the JavaScript Immersion course at Portland Code School in the Fall of 2014, he met <a href="https://www.linkedin.com/pub/kali-kiger/76/141/1b5" class="aboutLink">Kali Kiger</a>, who had recently relocated to Portland, and <a href="https://www.linkedin.com/in/amoulding" class="aboutLink">Andrea Moulding</a>, who had been there for about two years. All three agreed that, despite their very different interests, they could use an app that offerred this sort of service, and they decided to build one for their capstone project. Thus, City Hacker was born - the app that enables you to connect with people in any city who do that thing that you like to do.
  </div about text>

  <img class= "img-circle img-responsive img-center" id="aboutImage" src="/media/images/CityHackerAbout.jpg" alt="">


</div container>