<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
              <h1></h1>
            </div>
            <div class="col-lg-7">
              <img src="/media/images/logo_final.jpg">
            </div>
        </div>
    </div>
</header>
<hr>