<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">

<div class="jumbotron" id="mainHeader">
    <div class="container" id="headerContent">
        <h2 class ="header-text" id="headerLogoText">City Hacker</h2>
        <img class="cityHackerLogo" src="/media/images/avatar.png" id="logoJumbotron">
        <div class="row" id="doMore">
            <div class="col-sm-12">
                <h2 class="hey">Do More</h2>
                <h3>
                <h3 class="doMoreText">
                City Hacker enables you to connect with people<br> in any city who do that thing that you like to do.
                </h3>
            </div>
        </div>
    </div>
</div>
    <a class="btn btn-default btn-lg" id="getStarted" href="/signup">Get Started &raquo;</a>  
</div>


</header>


<!-- Page Content -->
<div class="container">


{{!--             <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Start Bootstrap</strong>
                <br>3481 Melrose Place
                <br>Beverly Hills, CA 90210
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(123) 456-7890
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
            </address>
        </div> --}}
    </div>
    <!-- /.row -->

    <hr>
{{!--     <div class="row" id="exampleHackers">
       <h2>Some Awesome CityHackers</h2> --}}
       <div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class= "img-circle img-responsive img-center" src="http://photos-e.ak.instagram.com/hphotos-ak-xpa1/10523263_606424592798868_410799391_n.jpg" alt="">

            <h3>DanTheAdventureMan</h3>
            <h4>Portland, OR</h4>
            <h4>RunnER ****</h4>
            <h4>ClimbER **</h4>
            <h4>Whitewater KayakER **</h4>
            <p><b>Running:</b> Love hitting up the trails. Let's meet up for a run on the Wildwood, in the Gorge, or up at Mt. Hood. <b>Climbing:</b> Just getting back into trad and sport after a couple year hiatus. Bouldering is awesome, too. Let's hit up the gym or go outdoors! <b>Kayaking: </b> I'm in for anything up to class 3. </p>
        </div>
        <div class="col-sm-4">
            <img class= "img-circle img-responsive img-center" src="http://distilleryimage0.ak.instagram.com/8fb61784ae4e11e3a71b12f66654cb64_8.jpg" alt="">

            <h3>ILoveBurritos</h3>
            <h4>Seattle, WA</h4>
            <h4>SkiiER ****</h4>
            <h4>Mountain BikER ***</h4>
            <h4>CodER *</h4>
            <p><b>Skiing:</b> I'm into hitting up some nicely groomed resort pow pow, or taking it to the back-country.<b> Mountain Biking:</b> When I can't get that rush from bombing down the slopes, I like to hit up the trails. <b> Coding:</b> I'm not very good at this, but looking to make some cool things, and potentially use this knowledge to change careers somewhere down the road. Currently learning JS, HTML, CSS and some Swift. </p>
        </div>
        <div class="col-sm-4">
            <img class= "img-circle img-responsive img-center" src="http://photos-e.ak.instagram.com/hphotos-ak-xpa1/10523263_606424592798868_410799391_n.jpg" alt="">

            <h3>BeerIsGood</h3>
            <h4>somewhere in Europe</h4>
            <h4>Beer DrinkER *****</h4>
            <h4> Football WatchER ***</h4>
            <h4>HikER * </h4>
            <p><b>Beer Drinking:</b> Beer is proof that there is a God. I love local brews, but as long as it has alcohol it's tasty. Let's meet up at a local watering hole and throw back a few pints. <b>Football Watching:</b> Might as well watch the game while were throwing back those pints. Go Arsenal! If you're not a fan, be prepared for some smack talking. <b>Hiking:</b> I need to force myself to get some excersize every now and then, and the outdoors are a great place to do it. </p>
        </div>
    </div>
    </div>
    <!-- /.row -->

    <hr>


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; GetCityHacker.com 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
