<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
  <div class="jumbotron" id="mainHeader">
    <div class="container" id="headerContent">
      <h2 class ="header-text" id="headerLogoText">City Hacker</h2>
      <img class="cityHackerLogo" src="/media/images/ClearLogo.png" id="logoJumbotron">
      <div class="row" id="doMore">
        <div class="col-sm-12">
          <h2 class="hey">Do More Things</h2>
          <h3 class="doMoreText">
            Connect with people<br> in any city who do that thing that you like to do.
          </h3>
        </div col>
      </div doMore>
    </div headerContent>
  </div mainHeader>
</header>

<!-- Page Content -->
<!--
<div class="container">

  <div class="row">
    <h2>
    What does it mean to "hack" a city?
    </h2>
    It means to artfully and efficiently get what you want out of a city. Use it to its fullest potential. Soak as much goodness up as you can, whether you're here for a day, a month, or years. Don't sit around and have to reinvent the wheel of living it up some place. Get started hacking your city's awesomeness today. 
    <br>
    <i>See some of our awesome City Hackers below...</i> -->

  <div class="container">

  <div class="row">
    <h2>
    Get City Hacker and make a new friend to:
    </h2>
    Hike. Bike. Surf. Code. Game. Swim. Play Music. Run. Fish. Climb. Play Cards. Play Chess. Stand Up Paddleboard. Kayak. Play Board Games. Drink Beers. Take Photos. Rollerblade. See a Concert. Skateboard. Jui Jitsu. Yoga. Play Soccer. Ride Horses. Play Raquetball. Knit. Mountaineer. Ski. Snowboard. Box. Lift Weights. Paintball. Walk. Break-dance. Sail. Mountain Bike. Canoe. Woodwork. Play Tennis. Hackeysack. Play Football. Shuffleboard. Sing. Unicycle. Tell Jokes. Cook. Smoke Cigars. Watch Sports. Garden. Have a Pillow Fight. Study. Or just about anything else you can think of...
    <div>
      <a class="btn btn-default btn-lg" href="/signup">Get Started &raquo;</a>
    </div>
  <br>
  </div row>
  <div class="row">
    <h3>Check out a few examples of what it looks like to become a City Hacker below...</h3>
    <div class="col-sm-4">
      <img class= "img-circle img-responsive img-center" src="http://photos-e.ak.instagram.com/hphotos-ak-xpa1/10523263_606424592798868_410799391_n.jpg" alt="">
      <h3 class = "handlenames">DanTheAdventureMan</h3>
      <h4>Portland, OR</h4>
      <h4>RunnER ****</h4>
      <h4>ClimbER **</h4>
      <h4>Whitewater KayakER **</h4>
      <p><b>Running:</b> Love hitting up the trails. Let's meet up for a run on the Wildwood, in the Gorge, or up at Mt. Hood. <b>Climbing:</b> Just getting back into trad and sport after a couple year hiatus. Bouldering is awesome, too. Let's hit up the gym or go outdoors! <b>Kayaking: </b> I'm in for anything up to class 3. </p>
    </div first photo>
    <div class="col-sm-4">
      <img class= "img-circle img-responsive img-center" src="http://photos-g.ak.instagram.com/hphotos-ak-xfp1/t51.2885-15/10005449_1490854587803182_1863588685_n.jpg" alt="">
      <h3 class = "handlenames">FreshAirFreshSnow</h3>
      <h4>Courmayeur, France</h4>
      <h4>SkiiER ****</h4>
      <h4>Mountain BikER ***</h4>
      <h4>CodER *</h4>
      <p><b>Skiing:</b> I'm into hitting up some nicely groomed resort pow pow, or taking it to the back-country.<b> Mountain Biking:</b> When I can't get that rush from bombing down the slopes, I like to hit up the trails. <b> Coding:</b> I'm not very good at this, but looking to make some cool things, and potentially use this knowledge to change careers somewhere down the road. Currently learning JS, HTML, CSS and some Swift. </p>
    </div center photo>
    <div class="col-sm-4">
      <img class= "img-circle img-responsive img-center" src="http://photos-h.ak.instagram.com/hphotos-ak-xpf1/10354376_290689187772951_210623721_n.jpg" alt="">
      <h3 class = "handlenames">BeerIsGood</h3>
      <h4>Denver, Colorado</h4>
      <h4>Beer DrinkER *****</h4>
      <h4> Football WatchER ***</h4>
      <h4>HikER * </h4>
      <p><b>Beer Drinking:</b> Beer is proof that there is a God. I love local brews, but as long as it has alcohol it's tasty. Let's meet up at a local watering hole and throw back a few pints. <b>Football Watching:</b> Might as well watch the game while were throwing back those pints. Go Arsenal! If you're not a fan, be prepared for some smack talking. <b>Hiking:</b> I need to force myself to get some excersize every now and then, and the outdoors are a great place to do it. </p>
    </div 3rd photo>
  </div row>

  <!-- commenting this out for now in an attempt to try to fix header duplication issue. Also, not sure if this section is necessary since our site does not currently have this functionality."
   -->
<!--
  <div class="row">
    <h2>
    What's with the stars?
    </h2>
    You might notice that the CityHackers have asterisks after their activities. A star is a good indication of a persons skill level and interest level in an activity. Read their bio to get more info on what this activity means to them. -->

</div container>


