<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
              <h1></h1>
            </div>
            <div class="col-lg-7">
              <img src="/media/images/logo_final.jpg">
            </div>
        </div>
    </div>
</header>


<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-12">
          <h2 class="hey">Hey, you.</h2>
              You like to do things. Maybe you’re a biker. Or a rock climber. Or maybe you’re a gamer. Want to meet more people and do your thing? That’s where City Hacker comes in! Search your city for people doing your favorite activities, send them a message, and go have fun!<p><p>

              <b>Use City Hacker to:</b>
              Connect with people in your city and do those things you like to do

              <b> OR </b>
              Connect with people in a new city when you travel.
              Think of it like a Meetup for individuals. <p>
                <a class="btn btn-default btn-lg" href="/signup">Get Started &raquo;</a>
            </p>
        </div>
{{!--             <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Start Bootstrap</strong>
                <br>3481 Melrose Place
                <br>Beverly Hills, CA 90210
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(123) 456-7890
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
            </address>
        </div> --}}
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://photos-e.ak.instagram.com/hphotos-ak-xpa1/10523263_606424592798868_410799391_n.jpg" alt="">
            <h2>Adventurer in Bend, OR</h2>
            <p>I just moved to Bend from Seattle, Washington. I'm digging the outdoorsy vibes here. Currently seeking out people in the community to meet up with for random adventures in the wildnerness. Hike, mountain bike, climb, whitewater kayak or trail run? Hit me up!</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://distilleryimage0.ak.instagram.com/8fb61784ae4e11e3a71b12f66654cb64_8.jpg" alt="">
            <h2>Trail Runner in Seattle, WA</h2>
            <p>The trails offer me solace from this busy world we live in. Just my watch, my shoes, and the soft trail under my feet. Running alone isn’t as fun, though. Looking for a few new running partners to keep me motivated, accountable and smiling as much as possible.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://photos-e.ak.instagram.com/hphotos-ak-xaf1/10684224_692948050794732_1517387540_n.jpg" alt="">
            <h2>Acro Yogi in Cabarete, D.R.</h2>
            <p>Just moved to the D.R. from cold, wet Vancouver, B.C. Had an awesome group of friends there who met up all the time. Looking to get a group together to jam once a week. I'm an intermediate flyer. Looking for a base to partner with!</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; GetCityHacker.com 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
