{{!-- TODO: I need the user info to hide when I'm on the Friendship tab, also need to populate with Friends --}}
<form id="tab2">
  <div>
  <div></div>
    <h2>Friend Requests</h2>
    Check the box and click 'update' to accept a friend request.
    <hr>
    <ul>
      <li><input type="checkbox" class="faChkRnd" checked=""><label>Kali Kiger</label></li>
      <li><input type="checkbox" class="faChkRnd"><label>Steve Young</label></li>
      <li><input type="checkbox" class="faChkRnd" checked=""><label>Andrea Moulding</label></li>
    </ul>
    <button class="btn btn-primary">Update</button>

  </div>
</form>
