{{!-- This is based off of the Bootsnipp http://www.bootply.com/sY7gQy6XF7 --}}

<div class="container">
  <h1>Edit Your Profile</h1>
  This is the place where you describe who you are, what you do, and the type of friends that you would like to meet!
  <hr>
  <div class="well">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
        <li><a href="#profile" data-toggle="tab">Friendships</a></li>
      </ul>
      <hr>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="home">
          {{partial "profile-tab"}}
        </div>

        <div class="tab-pane fade" id="profile">
          {{partial "profile-friendship-tab"}}
        </div>
      </div>{{!-- tab-content --}}
    </div>{{!-- row --}}
  </div>{{!-- well --}}
</div>{{!-- container --}}
<hr>
