<form>
  {{input class="visibleName" type="text" required="true" autofocus="true" placeholder="User Handle" value=body}}
  <button class="submit" {{action 'addVisibleName'}}>Post</button>
  {{#if error}}<div class="error">{{error.message}}</div>{{/if}}
  <br>
  {{body}}
</form>

